.swiper {
    display: flex;
    width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
}

.swiper-slide {
    font-size: 18px;
    width: fit-content;
}

.swiper .swiper-slide {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    margin-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 35px;
}

.swiper .swiper-slide .top {
    padding: 15px 0px 0px 0px;
}

.swiper .swiper-slide .bottom {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 16px;
    color: rgb(197, 195, 195);
}