@import "../../responsive.scss";

.contactUs {
    display: flex;
    height: 100%;

    @include md {
        flex-direction: column;
        overflow: scroll;
    }

    .textContainer {
        flex: 3;
        overflow-y: scroll;
        height: 100%;
        margin: 20px 0px;

        @include md {
            flex: none;
            height: max-content;
            margin-bottom: 50px;
        }

        .wrapper {
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            margin-bottom: 50px;

            @include md {
                padding: 10px;
                margin-bottom: 10px;
            }

            h1 {
                display: flex;
                font-size: 36px;
                font-weight: bold;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .imageContainer {
        flex: 2;
        background-color: #f3f3fa;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 30px;

        img {
            border-radius: 20px;
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 200px;
        }

        p {
            color: rgb(135, 134, 134);
            text-shadow: 1px 1px 4px lightgrey;
        }

        @include md {
            flex: none;
            height: max-content;
            margin-bottom: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px;
        }
    }
}
