.postReview {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 15px;

    .item {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2px;

        label {
            font-size: 12px;
        }

        input, textarea {
            padding: 15px;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            font-size: 14px;
        }

        button {
            margin-top: 20px;
            margin-bottom: 50px;
            width: 100px;
            padding: 10px;
            gap: 10px;
            border: none;
            cursor: pointer;
            color: #fff;
            background-color: #1c3988;
            &:hover {
                transition: all 0.1s ease-in;
                background-color: #6e8ae9;
                scale: 1.02;
            }

            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}
