@import "../../responsive.scss";

.listpage {
    display: flex;
    height: 100%;

    .listContainer {
        flex: 3;
        height: 100%;

        .wrapper {
            height: 100%;
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            overflow-y: scroll;
            padding-bottom: 50px;

            @include md {
                padding-right: 0px;
            }
        }
    }

    .mapContainer {
        flex: 2;
        height: 100%;
        background-color: #f3f3fa;

        @include md {
            display: none;
        }
    }
}
