@import "../../responsive.scss";

.searchBar {
    form {
        border: 1px solid #999;
        display: flex;
        justify-content: space-between;
        height: 64px;
        gap: 5px;
        justify-content: left;

        @include sm {
            flex-direction: column;
            height: 105px;
            border: none;
        }

        select {
            padding: 0px 10px;
            width: auto;
            border-color: #1c3988;
            color: #1c3988;
            padding: 10px;

            @include md {
                width: auto;
                padding: 20px;
            }

            @include sm {
                width: auto;
                padding: 20px;
            }
        }

        input {
            width: max-content;
            border: none;
            background-image: url("/pin.png");
            background-position: 10px;
            background-repeat: no-repeat;
            background-size: 25px;
            padding-left: 45px;
            display: inline-block;
            flex: 1;

            @include sm {
                padding: 20px;
                padding-left: 45px;
                border: 1px solid #1c3988;
                width: auto;
            }
        }

        .searchButton {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #1c3988;
            width: 60px;

            @include sm {
                width: auto;
                padding: 10px 0px;
            }

            &:hover {
                background-color: #6e8ae9;
                scale: 1.04;
                transition: all 0.2s ease;
            }
        }
    }
}
